# configuration #
#config.properties

# Compiled Source #
*.pyc

# Generated Code #
#/input/
/generated_code/
/.vscode

.DS_Store
code_templates/.DS_Store generated_code/.DS_Store static/.DS_Store to_delete/.DS_Store

.idea
*.iml
