/* Functional tabs styling */
main {
		display: block;
    margin-left: 200px; /* Same as side menu's width */
		margin-top: 58px;
}

.content {
		padding: 3.0em;
}

.sub-navline {
	border-bottom: 3px solid #e9ecef;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    overflow-x: hidden;
}

.side-content {
		padding-top: 1.0em;
		padding-bottom: 4.0em;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
}

.sidenav .function:hover {
		background-color: #f1f1f1;
}

.function:hover a {
  	color: #007aff;
}

.side-footer {
	position: absolute;
	padding-left: 200px;
	bottom: 0;
	height: 60px;
	width: 100%;
	background-color: #e9ecef;
}

.side-footer > .container {
	padding-top: 20px;
}
