html {
	position: relative;
	min-height: 100%;
	width: 100vw;
	display: block;
}

/* For padding between <footer> and <main> */
body {
	margin-bottom: 100px;
}

/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 100vw;
	height: 60px;
	background-color: #e9ecef;
}

.footer > .container {
	padding-top: 20px;
}
