
/* For different size screens */

@media only screen and (min-width: 576px) and (max-width: 767px){
	body {height: 100%;width:100%; font-size: 1em;}
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
	body {height: 100%;width:100%; font-size: 1.0em;}
}

@media only screen and (min-width: 1200px) and (max-width: 1499px){
   body {height: 100%; width:100%; font-size: 1.1em;}
}

@media only screen and (min-width: 1500px) and (max-width: 1919px){
   body {height: 100%;width:100%; font-size: 1.3em;}
}

@media only screen and (min-width: 1920px) and (max-width: 2799px){
   body {height: 100%;width:100%; font-size: 1.4em;}
}

@media only screen and (min-width: 2800px){
	 body {height: 100%;width:100%; font-size: 1.5em;}
}

/* Container */
.container-fluid {
	padding: 0;
}

/* Jumbotron title text */

.jumbotron h1 {
	font-size: 3em;
}

.jumbotron p {
	font-size: 1.5em;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 100vw;
	height: 60px;
	background-color: #e9ecef;
}

.footer > .container {
	padding-top: 20px;
}

/* Login & Signup modal */

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 8px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.fullbutton {
	width:100%;
	cursor: pointer;
	padding:10px;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

.modal-content {
	background-color: #fefefe;
	margin: 2% auto 15% auto;
	border: 1px solid #888;
	width: 30%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}

.lcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 20%;
	border-radius: 50%;
}

label {
	padding-top:10px;
}
