html,body{
	margin:0;
	padding:0;
	height:100%;
}

div#container{
	position:relative;
	margin:0 auto;
	height:auto !important;
	/*height:100%;*/
	min-height:100%;
}

@media only screen and (max-width: 575px){
	.col-12 {height: 60%;width:60%; font-size: 15px;}
}

@media only screen and (min-width: 576px) and (max-width: 767px){
	.col-12 {height: 60%;width:60%; font-size: 18px;}
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
	.col-12 {height: 60%;width:60%; font-size: 20px;}
}

@media only screen and (min-width: 1200px) and (max-width: 1919px){
	.col-1 {height: : 8.33%;}
    .col-2 {height: 16.66%;}
    .col-3 {height: 25%;}
    .col-4 {height: 33.33%;}
    .col-5 {height: 41.66%;}
    .col-6 {height: 50%;}
    .col-7 {height: 58.33%;}
    .col-8 {height: 66.66%;}
    .col-9 {height: 75%;}
    .col-10 {height: 83.33%;}
    .col-11 {height: 91.66%;}
    .col-12 {height: 60%;width:60%; font-size: 23px;}
}

@media only screen and (min-width: 1920px) and (max-width: 2799px){
	
	.col-9 {height: 75%; width:50%;}
	.col-10 {height: 83.33%;}
    .col-11 {height: 91.66%;}
    .col-12 {height: 100%;width:100%; font-size: 1.5em;}
}
	/*font-size:20px; */

}

@media only screen and (min-width: 2800px){
	.col-12 {height: 100%;width:100%; font-size: 1.5em;}
	
}

div#content{
	padding: 1em 1em 5em;
}

div#footer{
	position:absolute;
	width:100%;
	bottom:0;
	background-color: #e9ecef;
	color: #000000;
	padding: 20px;
	margin-top: 10px;
}

.jumbotron{
	padding: 2px;
	margin-bottom: 5px;
}

.jumbotron h1 {
	font-size: 3em;
}

.jumbotron p {
	font-size: 1.5em;
}
