html,body{
	margin:0;
	padding:0;
	height:100%;
}

div#container{
	position:relative;
	margin:0 auto;
/*	height:auto !important;*/
	height:100%;
	/*min-height:100%;*/
}

div#content{
	position:relative;
	height: 50%;
	padding: 1em 1em;  /*change 10 to 2*/
	margin-bottom: 0;
}

div#footer{
	position:absolute;
	width:100%;
	bottom:0;
	background-color: #e9ecef;
	color: #000000;
	padding: 0.8em;
	
}

.jumbotron{
	padding: 2px;
	margin-bottom: 5px;
}

.jumbotron h1 {
	font-size: 3em;
}

.jumbotron p {
	font-size: 1.5em;
}

pre{
	word-break: keep-all;
	white-space: pre-wrap;
	counter-reset: line;
}

pre span:before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	padding: 0.5em;
	margin-right: 0.5em
	color: #888
}

pre span {
	display: block;
	line-height: 0.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 8px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
	
.fullbutton {
	width:100%;
	cursor: pointer;
	padding:10px;
}

.buttons {
	padding-right: 5px
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

.modal-content {
	background-color: #fefefe;
	margin: 2% auto 15% auto;
	border: 1px solid #888;
	width: 30%; 
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}

.lcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 20%;
	border-radius: 50%;
}

label{
	padding-top:10px;
}

.container {
	padding: 10px;

}

#widget-box {
	margin-top: 2%;
	margin-bottom: 5%;

}


.sidenav {
	background-color: #f1f1f1;
	height: 100%;
	padding: 10px;
}

pre{
	word-break: keep-all;
	white-space: pre-wrap;
	counter-reset: line;
}

pre span:before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	padding: 0.5em;
	margin-right: 0.5em
	color: #888
}

pre span {
	display: block;
	line-height: 0.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.panel {
	margin-top: 1.5em;
}

.navbar {
	border-radius: 0;
	margin-bottom: 10px;
}

/* Darker background on mouse-over */
.operation.btn:hover {
    background-color: grey;
}

