.Description, .ServerStatus
{
    position: relative;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    background-color: #CDCDCD;
}

.inner-box
{
    position: absolute;
    top: 25%;
    left: 20%;
    width: 70%;
    height: 50%;
    background-color: #CDCDCD;
    text-align:left;
    align-content:left;
    float:left;
}

.outer_box
{
    position: absolute;
    top: 10%;
    left:5%;
    width:90%;
    height:80%;
    background-color: #A0A0A0;
}