.jumbotron{
	padding: 2em;
	margin-bottom: 5px;
}

.jumbotron h1 {
	font-size: 3em;
}

.jumbotron p {
	font-size: 1.5em;
}

footer {
    width: 100%;
    background-color: #e9ecef;
    color: #000000;
    padding: 25px;
    margin-top: 10px;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding: 10px;
}

/* .row.content {height: 1000px} */

pre{
    word-break: keep-all;
    white-space: pre-line;
    counter-reset: line;
}

pre span {
    /*display: block;*/
}

pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    padding: 0 .5em;
    color: #888
}

.panel {
    margin-top: 1.5em;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 8px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	}
	
.fullbutton {
	width:100%;
	cursor: pointer;
	padding:10px;
}
	
.navbar {
	border-radius: 0;
	margin-bottom: 10px;
}

.buttons {
	padding-right: 5px
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

.modal-content {
	background-color: #fefefe;
	margin: 2% auto 15% auto;
	border: 1px solid #888;
	width: 30%; 
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}

.lcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 20%;
	border-radius: 50%;
}

label{
	padding-top:10px;
}

.container {
	padding: 16px;
}

widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.user_profile {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    overflow: hidden;
    width: 100%;
    font-weight: bold;
}

.user_profile > span#instance_info {
    background: #48a4dc;
    color: white;
}

.user_profile > span#class_info {
    background: #3b5998;
    color: white;
}

.user_profile> span#function_info {
    background: #ff604f;
    color: white;
}

.user_profile > span {
    float: left;
    font-size: 28px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    width: 100%;
}

#widget-box {
    margin-top: 2%;
    margin-bottom: 5%;

}

#new_button {
    margin-bottom: 5%;
}

#log_out {
    margin-top: 0.4%;
	padding-right: 5px;
}