<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Executable Domain Modeling</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>
    <div class="ui center aligned large header" style="padding:15px">
  			Executable Domain Modeling
    </div>
    {% block content %}{% endblock %}
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  </body>
</html>