
    <!--Nav bars - help redirect to different pages-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <!-- Redirect to homepage -->
        <a class="navbar-brand" href="/"><span class="fa fa-home"></span></a>
        <!-- Navigation bar tabs -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!--Redirect to server status page here!-->
                <li class="nav-item">
                    <form action="{{ url_for('main_bp.serverstatus') }}" name="serverstatus" method="GET">
                        <a class="nav-link" href="javascript: document.serverstatus.submit()">Server Status</a>
                    </form>
                </li>
                <!--Redirect to description page here!-->
                <li class="nav-item">
                    <form action="{{ url_for('main_bp.description') }}" name="description" method="GET">
                        <a class="nav-link" href="javascript: document.description.submit()">Description</a>
                    </form>
                </li>
                <!--Redirect to API reference page here!-->
                <li class="nav-item">
                    <form action="{{ url_for('main_bp.detail_api') }}" name="detailapi" method="GET">
                        <a class="nav-link" href="javascript: document.detailapi.submit()">API Reference</a>
                    </form>
                </li>
                <!--Redirect to SDK reference page here!-->
                <li class="nav-item">
                    <form action="{{ url_for('main_bp.detail_sdk') }}" name="detailsdk" method="GET">
                        <a class="nav-link" href="javascript: document.detailsdk.submit()">SDK</a>
                    </form>
                </li>
                <!--Redirect to User account profile page here!-->
                <!-- <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span>&nbsp Account</a></li> -->
            </ul>
            <!-- User welcome title -->
            <span class="navbar-text">
                Welcome  <strong>{{ session['username'] }} !</strong>
            </span>
            <form class="form-inline mt-2 mt-md-0 ml-3" action="{{ url_for('main_bp.logout') }}">
                <button class="btn btn-outline-success my-2 my-sm-0" id="log_out" ><span class="fas fa-sign-out-alt"></span>&nbsp Logout</button>
            </form>
        </div>
    </nav>

    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg); //Get the query string started from '?' in url and filt it with regexp
            var context = "";
                if (r != null)
                context = r[2];
                reg = null;
                r = null;
                return context == null || context == "" || context == "undefined" ? "" : context;
            }
        window.onload = function(){
            var mname = document.createElement('input');
            mname.setAttribute("type", "hidden");
            mname.setAttribute("name", "domainModelName");
            mname.setAttribute("value", GetQueryString("domainModelName"));

            var fid = document.createElement('input');
            fid.setAttribute("type", "hidden");
            fid.setAttribute("name", "fileId");
            fid.setAttribute("value", GetQueryString("fileId"));

            var new_div = document.createElement('div');
            new_div.appendChild(mname);
            new_div.appendChild(fid);

            document.getElementsByName('serverstatus')[0].innerHTML += new_div.innerHTML;
            document.getElementsByName('description')[0].innerHTML += new_div.innerHTML;
            document.getElementsByName('detailapi')[0].innerHTML += new_div.innerHTML;
            document.getElementsByName('detailsdk')[0].innerHTML += new_div.innerHTML;
        };
</script>




