<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>API References - Executable Domain Modeling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
    <basefont size="7">
</head>
<body>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Executable Domain Modeling</h1>
        <p>Convert XML files to real code</p>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#"><!-- Redirect to homepage here -->
    <span class="fa fa-home"></span>
  </a>
  <ul class="navbar-nav col-sm-10 nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="#">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">API Reference</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Server Status</a>
    </li>
  </ul>
  <div class="col-sm-2 nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span>&nbsp Account</a></div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!--For the main page nav bars-->
            <ul class="nav nav-pills flex-column" role="tablist">
                <li class="nav-item active"><a class="nav-link" data-toggle="pill" href="#class1">Class 1</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#class2">Class 2</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="tab-content">
                <div class="tab-pane active container-fluid" id="class1">
                    <!--Here insert the nav bar of the class1-->
					<!-- File to insert here is nav_bar-->
                    <!--testing data--> class1
                </div>
                <div class="tab-pane container-fluid" id="class2">
                    <!--Here insert the nav bar of the class2-->
					<!-- File to insert here is nav_bar-->
                    <!--testing data--> class2
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid text-center">
    <p>&copy; Copyright Protected. All rights reserved</p>
</footer>
</body>
</html>


