<!--This page is the reference page  //Xuan Zhu-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>API References - Executable Domain Modeling</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
		<basefont size="7">
		<script>
			var server_url = "{{ server_url }}";
			var authen_key = "{{ authen_key }}";
			var model_display_data = {{ model_display_data|tojson|safe }};
		</script>
	</head>
	<body>
		<script type="text/javascript">
			function GetQueryString(name) { 
         		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
        		var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        		var context = ""; 
    			if (r != null) 
     			context = r[2]; 
    			reg = null; 
    			r = null; 
   				return context == null || context == "" || context == "undefined" ? "" : context; 
			 }
            
            window.onload = function(){
	        var a = document.getElementById("Mname");
	        a.value = GetQueryString("domainModelName"); 

			var b = document.getElementById("Fid");
	        b.value = GetQueryString("fileId"); 

    		};
		
		</script>
		<div id="container">
			{%raw%}
			<!--use the bootstrap jumbotron element to display the title of our project -->
			<div class="jumbotron">
				<div class="container text-center">
					<h1>Executable Domain Modeling</h1>
					<p>Convert XML files to real code</p>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<form action="/logout">
							<button class="btn btn-primary pull-right" id="log_out"><span class="fa fa-user"></span>&nbsp Logout</button>
						</form>
					</div>
				</div>
			</div>
			<!--show the nav bars-->
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<!-- Redirect to homepage here -->
				<ul class="navbar-nav nav-justified col-sm-12">
					<li class="nav-brand">
						<a class="nav-link" href="/"><span class="fa fa-home"></span></a>
					</li>
					<!--Redirect to server status page here!-->			
					<li class="nav-item">
					{%endraw%}
						<form action="{{ url_for('serverstatus') }}" name="serverstatus" method="GET">
					{%raw%}	
							<!-- <button class="nav-link">api</button> -->
							<a class="nav-link" href="javascript: document.serverstatus.submit()">Server Status</a>
							<input type="hidden" name="domainModelName" id="Mname" value=""/>
							<input type="hidden" name="fileId" id="Fid" value=""/>
				
						</form>
					</li>
					<!--Redirect to description page here!-->
					<li class="nav-item">
						<a class="nav-link" href="#">Description</a>
					</li>
					<!--Redirect to API reference page here!-->
					<li class="nav-item">
						<a class="nav-link" href="#">API Reference</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><span class="fa fa-user"></span>&nbsp Account</a>
					</li>
				</ul>
			</nav>
			<div id="content">
				<!--show the main content on the reference page-->
				<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
					<div class="row content">
						<div class="col-sm-2 sidenav">
							<!--Dynamically generate the class navbars using angularJS-->
							<ul class="nav nav-pills flex-column" role="tablist">
								<li ng-repeat="classInfo in classes"
									class="nav-item">
									<a class="nav-link" data-toggle="pill" href='#{{classInfo}}' ng-click="changeParentTab(classInfo)">
										{{classInfo}}
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-10">
							<!--Dynamically generate the corresponding tab content for each class-->
							<div class="tab-content">
								<div ng-repeat = "class in classes"
									 class="tab-pane active"  ng-show="view_tab === classes[$index]">
									<div>
										<ul class="nav nav-pills nav-fill" role="tablist">
											<li ng-repeat="language in languages"
												class="nav-item">
												<!--Each class has multiple languages, dynamically generate
												the language nav bars-->
												<a class="nav-link" data-toggle="tab" href='#{{class}}_{{language}}' ng-click="changeChildTab(class, language)">
													{{language}}
												</a>
											</li>
										</ul>
										<!--Display the main content for each language-->
										<div class="tab-content" >
											<div ng-repeat="language in languages" ng-show="view === isView(class, language)" class="tab-pane active" >
												<!--Attribute List-->
												<br>
												<p ng-repeat="attribute in details[class]['attribute_list'] track by $index">
													{{attribute.name}}: {{attribute.type}}
												</p>
												<div ng-repeat = "detail in details[class][language]['func_info_list']">
													<br>
													<!--Use the bootstrap card element to display the code for the corresponding class
													and the corresponding language-->
													<div class="card card-default">
														<div class="card-header">{{detail['name']}}</div>
														<div class="card" style="padding-left:20px">Examples of JSON Structure:<br>
														<ul>
															<div ng-repeat = "ex in detail['examples']">
															<li>{{ex}}</li>
															</div>
														</ul>
														</div>
														<div class="card-body">
															<pre ng-attr-id="{{class}}_{{language}}_{{$index}}"><span ng-repeat="view in generateView(detail['body']) track by $index">{{view}}</span></pre>
														</div>
														<div class="card-footer">
															<!--The copy code button is used to copy the code to clipboard-->
															<button type="button" class="copy-button btn btn-primary pull-right"
																	ng-click="CopyToClipboard(class, language, $index)">Copy Code
															</button>
														</div>
													</div>
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer" align="center">
				<p>&copy; Copyright Protected. All rights reserved</p>
			</div>
			{%endraw%}
		</div>
	</body>
</html>