<!--The server status page provides a description about the server on which the instance is running //Anjan Shah-->
<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Server Status - Executable Domain Modeling</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
		<basefont size="7">
	</head>
	<body>
		{% include 'nav_bar.html' %}
		<main role="main">
			<!--Shows the title of the page - Project header -->
			<div class="jumbotron text-center">
				<div class="container">
					<h1>Executable Domain Modeling</h1>
					<p>Generate microservice instances for use cases</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12"><h3>
						<span class="fas fa-server"></span>
						Server Status
							<form class="operation"  method="POST" action="{{ url_for('main_bp.regenerate') }}" style="display:inline;">
								<input type="hidden" name="domainModelName" value="{{ domainModelName }}">
								<input type="hidden" name="fileId" value="{{ fileId }}">
								<button class="operation btn" title="Regenerate"/>
								<i class="fa fa-sync-alt"></i>
							</form>
						</h3>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<ul class="list-group">
							<li class="list-group-item" id="urlli"></li>
							<script>
								document.getElementById("urlli").innerHTML="Server URL: " + "{{ server_url }}";
							</script>

							<li class="list-group-item" id="keyli"></li>
							<script>
								document.getElementById("keyli").innerHTML="Access Key: " +"{{ authen_key }}";
							</script>
						</ul>
					</div>
				</div>
			</div>
		</main>
		<!--show the copyright as footer-->
		<footer class="footer">
			<div class="container text-center">
				<span class="text-muted">&copy;Copyright Protected. All rights reserved</span>
			</div>
		</footer>
	</body>
</html>
