<!--The server status page provides a description about the server on which the instance is running //Anjan Shah-->
<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>API References - Executable Domain Modeling</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
		<basefont size="7">

	</head>
	<body>
		<script type="text/javascript">
			function GetQueryString(name) { 
         		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
        		var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        		var context = ""; 
    			if (r != null) 
     			context = r[2]; 
    			reg = null; 
    			r = null; 
   				return context == null || context == "" || context == "undefined" ? "" : context; 
			 }

			 function alertid(){
			 	var a = GetQueryString("fileId");
			 	var b = GetQueryString("domainModelName");
			 	alert(b);
			 }
            
            window.onload = function(){
	        var a = document.getElementById("Mname");
	        a.value = GetQueryString("domainModelName"); 

			var b = document.getElementById("Fid");
	        b.value = GetQueryString("fileId"); 


    		};
		

		</script>
		<div id="container">
			<!--Show the title of the project -- header // Xuan Zhu-->
			<div class="jumbotron">
				<div class="container text-center">
					<h1>Executable Domain Modeling</h1>
					<p>Convert XML files to real code</p>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
                        <form action="{{ url_for('logout') }}">				
							<button class="btn btn-primary pull-right" id="log_out" ><span class="fa fa-user"></span>&nbsp Logout</button>
						</form>
					</div>
				</div>	
			</div>
			<!--Nav bars -- help redirect to different pages-->
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark col-sm-12">
				<!-- Redirect to homepage here -->
				<ul class="navbar-nav nav-justified col-sm-12">
					<li class="nav-brand">
						<a class="nav-link" href="/"><span class="fa fa-home"></span></a>
					</li>
					<!--Redirect to server status page here!-->
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('serverstatus') }}">Server Status</a>
					</li>
					<!--Redirect to description page here!-->
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('description') }}">Description</a>
					</li>
					<!--Redirect to API reference page here!-->
					<li>
						<form action="{{ url_for('detail_instance') }}" name="detail_instance" method="GET">
							{%raw%}
							<!-- <button class="nav-link">api</button> -->
							<a class="nav-link" href="javascript: document.detail_instance.submit()">API Reference</a>
							<input type="hidden" name="domainModelName" id="Mname" value=""/>
							<input type="hidden" name="fileId" id="Fid" value=""/>
							{%endraw%}
						</form>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#"><span class="fa fa-user"></span>&nbsp Account</a>
					</li>
				</ul>
			</nav>
			<div id="content">
				<!--The main content on the page: A brief description about the server here-->
				<div class="container-fluid" style="margin-top:20px">
					<h3>Server Status</h3>
					<div class="container-fluid ">
						<ul class="list-group">
							<li class="list-group-item" id="urlli"> server_url: </li>
							<script>
								document.getElementById("urlli").innerHTML="Server_url: " + "{{ server_url }}";
							</script>

							<li class="list-group-item" id="keyli"> Key: </li>
							<script>
								document.getElementById("keyli").innerHTML="Key: " +"{{ authen_key }}";
							</script>
						</ul>
					</div>
				</div>
			</div>
		</div>
			<!--show the copyright as footer-->
			<div id="footer" align="center">
				<p>&copy; Copyright Protected. All rights reserved</p>
			</div>
		</div>
	</body>

</html>