<!--The server status page provides a description about the server on which the instance is running //Anjan Shah-->
<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Server Status - Executable Domain Modeling</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
		<basefont size="7">
	</head>
	<body>
		<!--Nav bars - help redirect to different pages-->
		<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
			<!-- Redirect to homepage -->
			<a class="navbar-brand" href="/"><span class="fa fa-home"></span></a>
			<!-- Navigation bar tabs -->
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<!--Redirect to server status page here!-->
					<li class="nav-item">
						<form action="{{ url_for('main_bp.serverstatus') }}" name="serverstatus" method="GET">
							<a class="nav-link" href="javascript: document.serverstatus.submit()">Server Status</a>
						</form>
					</li>
					<!--Redirect to description page here!-->
					<li class="nav-item">
						<form action="{{ url_for('main_bp.description') }}" name="description" method="GET">
							<a class="nav-link" href="javascript: document.description.submit()">Description</a>
						</form>
					</li>
					<!--Redirect to API reference page here!-->
					<li class="nav-item">
						<form action="{{ url_for('main_bp.detail_instance') }}" name="detail_instance" method="GET">
							<a class="nav-link" href="javascript: document.detail_instance.submit()">API Reference</a>
						</form>
					</li>
					<!--Redirect to User account profile page here!-->
					<!-- <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span>&nbsp Account</a></li> -->
				</ul>
				<!-- User welcome title -->
				<span class="navbar-text">
					{%endraw%}
					Welcome  <strong>{{ session['username'] }} !</strong>
					{%raw%}
				</span>
				<form class="form-inline mt-2 mt-md-0 ml-3" action="{{ url_for('main_bp.logout') }}">
					<button class="btn btn-outline-success my-2 my-sm-0" id="log_out" ><span class="fas fa-sign-out-alt"></span>&nbsp Logout</button>
				</form>
			</div>
		</nav>
		<main role="main">
			<!--Shows the title of the page - Project header -->
			<div class="jumbotron text-center">
				<div class="container">
					<h1>Executable Domain Modeling</h1>
					<p>Generate microservice instances for use cases</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12"><h3><span class="fas fa-server"></span> Server Status</h3></div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<ul class="list-group">
							<li class="list-group-item" id="urlli"></li>
							<script>
								document.getElementById("urlli").innerHTML="Server URL: " + "{{ server_url }}";
							</script>

							<li class="list-group-item" id="keyli"></li>
							<script>
								document.getElementById("keyli").innerHTML="Access Key: " +"{{ authen_key }}";
							</script>
						</ul>
					</div>
				</div>
			</div>
		</main>
		<!--show the copyright as footer-->
		<footer class="footer">
			<div class="container text-center">
				<span class="text-muted">&copy;Copyright Protected. All rights reserved</span>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript">
			function GetQueryString(name) {
         	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        	var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        	var context = "";
    			if (r != null)
     			context = r[2];
    			reg = null;
    			r = null;
   				return context == null || context == "" || context == "undefined" ? "" : context;
			 }

      window.onload = function(){
          var mname = document.createElement('input');
          mname.setAttribute("type", "hidden");
          mname.setAttribute("name", "domainModelName");
					mname.setAttribute("value", GetQueryString("domainModelName"));

					var fid = document.createElement('input');
          fid.setAttribute("type", "hidden");
          fid.setAttribute("name", "fileId");
					fid.setAttribute("value", GetQueryString("fileId"));

					var new_div = document.createElement('div');
					new_div.appendChild(mname);
					new_div.appendChild(fid);

					document.getElementsByName('serverstatus')[0].innerHTML += new_div.innerHTML;
					document.getElementsByName('description')[0].innerHTML += new_div.innerHTML;
					document.getElementsByName('detail_instance')[0].innerHTML += new_div.innerHTML;
     	};
		</script>
	</body>
</html>
