<!--The user profile page displays information regarding user's existing instances and allows the user to generate a new instance -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>API References - Executable Domain Modeling</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user_profile.css') }}">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/profile.js') }}"></script>
		<basefont size="7">
		<script>var history_data = {{ history_data|tojson|safe }};</script>
	</head>
	</head>
	<body>
		<div id="container">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <div class="alert alert-warning" role="alert" style="float:left; width:100%;">
			    {% for message in messages %}
			      {{ message }}
			    </div>
			    {% endfor %}
			    <script type="text/javascript">
			    	window.setTimeout(function () {
					    $(".alert-warning").fadeTo(500, 0).slideUp(500, function () {
					        $(this).remove();
					    });
					}, 2000);
			    </script>
			  {% endif %}
			{% endwith %}
			<!--Shows the title of the page - Project header -->
			<div class="jumbotron">
				<div class="container text-center">
					<h1>Executable Domain Modeling</h1>
					<p>Convert XML files to real code</p>
				</div>
			</div>
			<div id="content">
				<!-- Main content of the page: A table representing all the existing instances -->
				<div class="container-fluid">
					<div class="content">
						<div class="row">
							<div class="col-md-12 col-sm-12">
                                Welcome {{ session['username'] }}!
								<!--Button to logout from the current user session -->
								<form action="/logout">				
									<button class="btn btn-primary pull-right" id="log_out" ><span class="fa fa-user"></span>&nbsp Logout</button>
								</form>

							</div>
						</div>
						<br>
						{%raw%}
						<div ng-app="profile" ng-controller="profileCtrl" style="overflow-x:auto;overflow-y:auto;height:250px;">
							<!-- Refer to https://getbootstrap.com/docs/4.0/components/collapse/ -->
							<div id="accordion">
								<div class="card" ng-repeat="history in histories track by $index">
									<div class="card-header" id="heading{{$index}}">
										<h5 class="mb-0">
											
											<button class="btn btn-link collapsed btn_dashboard" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
											  Project - {{history.domainModelName}} : {{history.length}} instances
											</button>

										</h5>
									</div>

									<div id="collapse{{$index}}" class="collapse" aria-labelledby="heading{{$index}}" data-parent="#accordion">
										<table class="table table-hover table-responsive-sm">
											<thead class="thead-dark">
												<tr>
													<th scope="col">ID</th>
													<th scope="col">Date</th>
													<th scope="col">Status</th>
													<th scope="col">Operation</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="file in history.files">
													<td>{{file.id}}</td>
													<td>{{file.date}}</td>
													<td>Terminated <button class="operation btn" title="Launch the Server">
														<i class="fa fa-play"></i>
														</button>
													</td>
													<td>
													<button class="operation btn" title="Update Domain Model">
														<i class="fa fa-edit"></i>
													</button>
													{%endraw%}
													<form class="operation" action="{{ url_for('delete_instance') }}" method="POST">
													{%raw%}
														<input type="hidden" name="domainModelName" value="{{history.domainModelName}}">
														<input type="hidden" name="fileId" value="{{file.id}}">
														<button class="operation btn" title="Delete the Instance">
														<i class="fa fa-close"></i>
														</button>
													</form>
													{%endraw%}
													<form class="operation" action="{{ url_for('detail_instance') }}" method="GET">
													{%raw%}
														<input type="hidden" name="domainModelName" value="{{history.domainModelName}}">
														<input type="hidden" name="fileId" value="{{file.id}}">
														<button class="operation btn" title="Go to Details">
															<i class="fa fa-angle-right"></i>
														</button>
													</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
			            </div>
			            {%endraw%}
						<!-- This extra code is to display the instances as a list in a table -->
						<!-- <div style="overflow-x:auto;overflow-y:auto;height:250px;">
							<table class="table table-hover table-responsive-sm">
								<thead class="thead-dark">
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Domain</th>
										<th scope="col">Status</th>
										<th scope="col">Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>ABC123</td>
										<td>DadDriver</td>
										<td>Running</td>
										<td><a href="#">Link to Instance</a></td>
									</tr>
									<tr>
										<td>XYZ321</td>
										<td>Management</td>
										<td>Terminated</td>
										<td><a href="#">Link to Instance</a></td>
									</tr>
								</tbody>
							</table>
						</div> -->
						<br>
						<!-- This extra code is to display the instances as widgets instead of a table
						<div class="row" id="widget-box">
							<div class="col-md-4">
								<div class="widget-area no-padding blank">
									<div class="user_profile">
										<span id="instance_info" style="color: white">16 instances</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="widget-area no-padding blank">
									<div class="user_profile">
										<span id="class_info">25 classes</span>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="widget-area no-padding blank">
									<div class="user_profile">
										<span id="function_info">78 functions</span>
									</div>
								</div>
							</div>
						</div>
						-->
						<div class="row">
						<!--Button to generate a new instance-->
							<div class="col-md-4 offset-md-4" id="new_button">
								<button class="btn btn-lg btn-primary btn-block" onclick="window.location.href='{{ url_for('upload_xml') }}'">New Instance</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Show the copyright as a footer-->
			<div id="footer" align="center">
				<p>&copy; Copyright Protected. All rights reserved</p>
			</div>
		</div>
	</body>
</html>
