<!--The user profile page displays information regarding user's existing instances and allows the user to generate a new instance -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>API References - Executable Domain Modeling</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/user_profile.css') }}">
		<basefont size="7">
		<script>var history_data = {{ history_data|tojson|safe }};</script>
	</head>
	<body>
		<!-- <header></header> -->
		<div id="container">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <div class="alert alert-warning" role="alert" style="float:left; width:100%;">
			    {% for message in messages %}
			      {{ message }}
			    </div>
			    {% endfor %}
			    <script type="text/javascript">
			    	window.setTimeout(function () {
					    $(".alert-warning").fadeTo(500, 0).slideUp(500, function () {
					        $(this).remove();
					    });
					}, 2000);
			    </script>
			  {% endif %}
			{% endwith %}
		</div>
		<main role="main" class="container-fluid">
			<!--Shows the title of the page - Project header -->
			<div class="jumbotron text-center">
				<h1>Executable Domain Modeling</h1>
				<p>Convert XML files to real code</p>
			</div>
			<!-- Show all the functionalities including create new instance, logout -->
			<div class="container-fluid">
				<div class="row mx-auto sub-navline">
					<div class="col-md-6 col-sm-4 col-xs-4">
						<div class="input-group">
							<div class="input-group-prepend" id="new_button">
								<button class="btn btn-primary" onclick="window.location.href='{{ url_for('main_bp.upload_xml') }}'">New Instance</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-8 col-xs-8">
						<div class="input-group">
							<div class="ml-auto"><p class="pt-2">Welcome  <strong>{{ session['username'] }}!</strong></p></div>
							<div class="input-group-append ml-3">
								<form action="/logout">
									<button class="btn btn-primary" id="log_out" ><span class="fa fa-user"></span>&nbsp Logout</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Instances list -->
			<div class="container">
					<br>
					{%raw%}
						<div ng-app="profile" ng-controller="profileCtrl" ng-cloak style="overflow-x:auto;overflow-y:auto;">
							<div id="accordion">
								<div class="card" ng-repeat="history in histories track by $index">
									<div class="card-header" id="heading{{$index}}">
										<h5 class="mb-0">
												<button class="btn btn-link collapsed btn_dashboard" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
												  Project - {{history.domainModelName}} : {{history.length}} instances
												</button>
										</h5>
									</div>
									<div id="collapse{{$index}}" class="collapse" aria-labelledby="heading{{$index}}" data-parent="#accordion">
										<table class="table table-hover table-responsive-sm">
											<thead class="thead-dark">
													<tr>
														<th scope="col">ID</th>
														<th scope="col">Date</th>
														<th scope="col">Status</th>
														<th scope="col">Operation</th>
													</tr>
												</thead>
											<tbody>
												<tr ng-repeat="file in history.files">
													<td>{{file.id}}</td>
													<td>{{file.date}}</td>
													<td>Terminated <button class="operation btn" title="Launch the Server">
															<i class="fa fa-play"></i>
															</button>
													</td>
													<td>
														{%endraw%}
														<form class="operation"  method="GET" action="{{ url_for('main_bp.update_xml') }}">
															{%raw%}
															<input type="hidden" name="domainModelName" value="{{history.domainModelName}}">
															<input type="hidden" name="fileId" value="{{file.id}}">
															<button class="operation btn" title="Update Domain Model" >
															<i class="fa fa-edit"></i>
															</button>
														</form>
														{%endraw%}
														<form class="operation" action="{{ url_for('main_bp.delete_instance') }}" method="POST">
														{%raw%}
															<input type="hidden" name="domainModelName" value="{{history.domainModelName}}">
															<input type="hidden" name="fileId" value="{{file.id}}">
															<button class="operation btn" title="Delete the Instance">
															<i class="fa fa-times"></i>
															</button>
														</form>
														{%endraw%}
														<form class="operation" action="{{ url_for('main_bp.detail_instance') }}" method="GET">
														{%raw%}
															<input type="hidden" name="domainModelName" value="{{history.domainModelName}}">
															<input type="hidden" name="fileId" value="{{file.id}}">
															<button class="operation btn" title="Go to Details">
																<i class="fa fa-angle-right"></i>
															</button>
														</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
				    </div>
				  {%endraw%}
				</div>
		</main>
		<!--Show the copyright as a footer-->
		<footer class="footer">
			<div class="container text-center">
				<span class="text-muted">&copy;Copyright Protected. All rights reserved</span>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/profile.js') }}"></script>
	</body>
</html>
