<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>API References - Executable Domain Modeling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <basefont size="7">
</head>
<body>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Executable Domain Modeling</h1>
        <p>Convert XML files to real code</p>
    </div>
</div>
<div class="buttons">
	<button type="button" class="btn btn-primary btn-md pull-right" onclick=""><span class="fa fa-user"></span>&nbsp Logout</button>
</div>
<br>
<div class="container">
	<h4 align="center"><span class="fa fa-gear"></span>&nbsp Upload an XML that corressponds to your class diagram</h4>
	<br>
	<form method="post" enctype="multipart/form-data" action="{{ url_for('result')}}">
		<div class="container" style="padding:8px; border:1px solid black; border-radius:8px; width:50%">
			<span class="fa fa-search"></span><input type="file" id="file" name="file" style="margin-left:5px">
		</div>
		<div class="container" align="right" style="margin-top:15px;width:53%">
			<button type="submit" class="btn btn-success btn-lg">Generate Code!</button>
		</div>
	</form>
</div>

<footer class="container-fluid text-center fixed-bottom">
    <p>&copy; Copyright Protected. All rights reserved</p>
</footer>